@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
@import url(https://fonts.googleapis.com/css?family=Cedarville+Cursive);

body {
    background-color: green;
    cursor:url(./imgs/chainsaw.png), auto;
}

.bg {
    top: 25%;
    left: 30%;
    width: 50%;
    height: 50%;
    position: absolute;
    background-color: green;
}

.maco1 {
    display: none;
    z-index: 9;
    position: absolute;
    left: 8vw;
    top: 10vh;
    width: 45vw;
    animation: invertColors 1.5s infinite alternate;
}

@keyframes invertColors {
    from {filter: invert(1);}
    to {filter: invert(0);}
  }

.maco2 {
    display: none;
    position: absolute;
    left: 11vw;
    top: 25vh;
    animation: invertZ 1s infinite alternate;
}

@keyframes invertZ {
    0% {z-index: 20;filter: invert(0)}
    25% {z-index: 0;}
    50% {z-index: 20; filter: invert(1);}
    65% {z-index: 0;}
    90% {z-index: 20;filter: invert(0)}
  }

  .maco3 {
    display: none;
    z-index: 21;
    position: absolute;
    width: 10vw;
    left: 10vw;
    top: 50vh;
    animation: rtt 5s infinite alternate;
}

@keyframes rtt {
   from {
        filter: hue-rotate(90deg);
        left: 10vw;
        top: 48vh;
    }
    to {
        filter: hue-rotate(0deg);
        left: 0px;
        top: 58vh;
    }

  }

  .insert_coin {
      position: absolute;
      display: none;
      left: 60vw;
      width: 20vw;
      top: 50vh;
  }

  .to_buy_centrao {
      position: absolute;
      display: none;
      left: 50vw;
      top: 80vh;
      width: 40vw;
      text-align: center;
      font-family: 'Minecraft';
      font-size: 3rem;
      text-transform: uppercase;
      color: black;
  }

  @font-face {
    font-family: 'Minecraft';
    src: url('fonts/Minecraft.ttf') format('truetype'); /* Legacy iOS */
  }

.chainsaw {
    cursor:url(./imgs/chainsaw.png), auto;
}

.peneira {
    cursor:url(./imgs/peneira.png), auto;
}

.moca {
    cursor: url(./imgs/moca.png), auto;
}

@keyframes flickerArcade {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-arcade-color),
            0 0 4rem var(--neon-arcade-color),
            0 0 6rem var(--neon-arcade-color),
            0 0 8rem var(--neon-arcade-color),
            0 0 10rem var(--neon-arcade-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

/* Animate neon flicker */
@keyframes flickerBrazil {
    
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
      
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem var(--neon-brazil-color),
            0 0 4rem var(--neon-brazil-color),
            0 0 6rem var(--neon-brazil-color),
            0 0 8rem var(--neon-brazil-color),
            0 0 10rem var(--neon-brazil-color);
        
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem var(--neon-border-color),
            inset 0 0 2rem var(--neon-border-color),
            0 0 4rem var(--neon-border-color),
            inset 0 0 4rem var(--neon-border-color);        
    }
    
    20%, 24%, 55% {        
        text-shadow: none;
        box-shadow: none;
    }    
}

:root {
    /* Base font size */
    font-size: 10px;   
    
    /* Set neon color */
    --neon-brazil-color: #f10dd3da;
    --neon-arcade-color: rgb(0, 89, 255);
  }

.brazil {
    font-size: 25rem;
    color: #fff;
    width: 100%;
    left: 0%;
    text-align: center;
    padding: 4rem 6rem 5.5rem;

    font-family: 'Cedarville Cursive';
    animation: flickerBrazil 1.5s infinite alternate;     
    position: absolute;
  }

.arcade {
    font-size: 7rem;
    font-weight: 500;
    width: 50%;
    top: 25vh;
    left: 15%;
    text-align: center;
    color: #fff;
    padding: 4rem 6rem 5.5rem;
    /* Add the blur effect */
    filter: blur(1px);
    -webkit-filter: blur(1px);
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    animation: flickerArcade 2.5s infinite alternate;     
    position: absolute;
}
  
  .brazil::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .brazil::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .brazil:focus {
    outline: none;
  }

  .arcade::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .arcade::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
  }
  
  .arcade:focus {
    outline: none;
  }


.span_arcade {
    background-color: transparent;
    z-index: 15;
    width: 45vw;
    height: 20vh;
    top: 25vh;
    left: 27vw;
    position: absolute;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.lozenge {
    z-index: 13;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%; 
    position: absolute;
    transform: rotate(-15deg) skew(59deg); 
    background: darkgoldenrod;
  }


.endless {
    background-color: green;
    width: 100%;
    height: 100%;
}